body {
  margin: 0;
  padding-top: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  font-family: "Cuprum",  "Arial", sans-serif;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.main-header {
  margin-bottom: 20px;

  background-color: #f3f7f9;
}

.wrapper {
  color: #ffffff;

  background-color: #293449;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-wrapper .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.logo {
  display: block;
  min-width: 200px;
  padding: 10px 10px 8px;

  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  -webkit-box-shadow: 0 5px 0 0 #b52933;
          box-shadow: 0 5px 0 0 #b52933;
}

.logo:hover,
.logo:focus {
  background-color: #ca2c37;
  outline: none;
  -webkit-box-shadow: 0 5px 0 0 #9a212a;
          box-shadow: 0 5px 0 0 #9a212a;
}

.logo:active {
  background-color: #ba2732;
  -webkit-box-shadow: 0 5px 0 0 #8e1e26;
          box-shadow: 0 5px 0 0 #8e1e26;
}

.index-logo:hover,
.index-logo:active {
  background-color: #ee3643;
  -webkit-box-shadow: 0 5px 0 0 #b52933;
          box-shadow: 0 5px 0 0 #b52933;
}

.header-search-form {
  position: relative;

  width: 270px;
}

.header-search-form input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 42px;
  padding: 11px 10px 13px 48px;

  font: inherit;
  color: #000000;

  background-color: transparent;
  border: none;
}

.header-search-form input::-webkit-input-placeholder {
  color: #ffffff;
}

.header-search-form input::-moz-placeholder {
  color: #ffffff;
}

.header-search-form input:-ms-input-placeholder {
  color: #ffffff;
}

.header-search-form input:hover {
  background-color: #212a3a;
}

.header-search-form input:focus {
  background-color: #ffffff;
  outline: none;
}

.header-search-form label {
  position: absolute;
  top: 12px;
  left: 0;

  padding-left: 17px;

  background-color: transparent;
  cursor: pointer;
  opacity: 0.3;
}

input[name="header-search"]:hover ~ label {
  opacity: 1;
}

input[name="header-search"]:focus ~ label {
  opacity: 1;
}

input[name="header-search"]:focus ~ label path {
  fill: #ee3643;
}

.user-link {
  position: relative;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 150px;
  padding: 12px 5px;

  color: #ffffff;
}

.header-bookmark {
  padding-left: 44px;
}

.header-basket {
  padding-left: 50px;
}

.user-link:hover,
.user-link:focus {
  background-color: #212a3a;
}

.user-link:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.user-link::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;

  width: 15px;
  height: 16px;

  background-repeat: no-repeat;
  opacity: 0.3;
}

.header-bookmark::before {
  background-image: url("../img/icon-bookmark.svg");
  background-position: 0 0;
}

.header-basket::before {
  background-image: url("../img/icon-cart.svg");
  background-position: 0 1px;
}

.user-link:hover::before,
.user-link:focus::before {
  opacity: 1;
}

.user-link:active::before {
  opacity: 0.5;
}

.header-bookmark-full,
.header-basket-full {
  background-color: #ee3643;
}

.header-bookmark-full:hover,
.header-basket-full:hover,
.header-bookmark-full:focus,
.header-basket-full:focus {
  background-color: #ca2c37;
}

.header-bookmark-full:active,
.header-basket-full:active {
  background-color: #ba2732;
}

.header-checkout {
  text-align: center;

  background-color: #63a63e;
}

.header-checkout:hover,
.header-checkout:focus {
  background-color: #5fbb2d;
}

.header-checkout:active {
  background-color: #518534;
}

.main-header > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: 47px;
  padding-bottom: 65px;
}

.header-title {
  width: 198px;
  margin: 2px 0 40px;
  padding: 0 70px 0 52px;

  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.header-contacts {
  margin-right: 10px;
}

.header-contacts p {
  margin: 0;
}

p.header-phone {
  margin-bottom: 3px;
  padding: 9px 10px 9px 70px;

  font-size: 21px;
  line-height: 21px;
  color: #ee3643;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 11px 10px;
  border: 3px solid #ffffff;
}

.header-address {
  padding: 0 10px;

  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.authorization {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 330px;
  margin: 0 0 0 auto;
  padding: 0;

  list-style: none;
}

.authorization > li {
  margin-left: 10px;
}

.authorization-user > li {
  margin-left: 0;
}

.authorization-link {
  display: block;
  padding: 11px 24px 12px 11px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.authorization-regisration {
  padding-left: 25px;
}

.authorization-logout {
  padding-right: 0;
}

.authorization-link:hover,
.authorization-link:focus {
  color: #ee3643;
}

.authorization-name:hover,
.authorization-name:focus {
  color: #000000;
}

.authorization-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.authorization-link svg {
  margin-right: 10px;
  vertical-align: baseline;
}

.authorization-link:hover path,
.authorization-link:focus path {
  fill: #32425c;
}

.authorization-link:active path {
  fill: #c5c5c5;
}

.authorization-submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 280px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.authorization-submenu-item {
  position: relative;
  padding: 5px 16px 0;
}

.authorization-submenu-item:not(:last-child)::before {
  content: "";
  position: absolute;
  top: 13px;
  right: -3px;
  width: 4px;
  height: 4px;
  background-color: #32425c;
  border-radius: 50%;
}

.authorization-submenu a {
  font-size: 16px;
  color: #32425c;
  text-decoration: underline;
}

.authorization-submenu a:hover,
.authorization-submenu a:focus {
  color: #ee3643;
}

.authorization-submenu a:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-navigation {
  width: 100%;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-navigation-item {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;

  text-align: center;
}

.main-navigation-item a {
  display: block;
  padding: 20px 30px 18px;

  font-size: 17px;
  line-height: 17px;
  color: #ffffff;

  background-color: #32425c;
  -webkit-box-shadow: 0 5px 0 0 #293449;
          box-shadow: 0 5px 0 0 #293449;
}

.main-navigation-item:first-child a {
  padding-left: 50px;
}

.main-navigation-item:last-child a {
  padding-right: 53px;
}

.main-navigation-item a:hover,
.main-navigation-item a:focus {
  background-color: #293449;
}

.main-navigation-item a:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #1d2739;
  -webkit-box-shadow: 0 5px 0 0 #1d2739;
          box-shadow: 0 5px 0 0 #1d2739;
}

/* Main главной */

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 55px;
  padding-top: 39px;
}

.promo-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 0 0 20px;
  padding: 0;

  list-style: none;
}

.promo-categories li {
  margin-right: 20px;
}

.promo-block {
  width: 137px;
  padding: 20px 140px 22px 23px;

  background-color: #ffbf47;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 213px 30px;
}

.product-new {
  position: relative;
}

.product-new::before {
  content: url("../img/new-flag.png");
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.promo-categories li:nth-child(2) {
  background-color: #3bbce3;
  background-image: url("../img/icon-2.svg");
  background-position: 197px 32px;
}

.promo-categories li:last-child {
  margin-right: 0;

  background-color: #dc91d8;
  background-image: url("../img/icon-3.svg");
  background-position: 190px center;
}

.promo-block h3 {
  margin: 0 0 12px;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.button {
  display: inline-block;
  min-width: 115px;
  padding: 11px 10px 9px 10px;

  font-size: 14px;
  line-height: 18px;
  vertical-align: bottom;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.promo-block .button {
  margin-left: 1px;

  background-color: rgba(0, 0, 0, 0.1);
}

.promo-block .button:hover,
.promo-block .button:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-block .button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

/* Слайдер */

.promo-slider {
  position: relative;

  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-right: 20px;
}

.promo-slider-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;
}

.promo-slider-item {
  position: relative;
  z-index: 0;

  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 570px;
  min-height: 220px;
  padding: 24px 25px 22px;

  color: #ffffff;

  background-color: #786a61;
}

.promo-slider-item.slider-item-current {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-item-title {
  margin: 0 0 3px 0;

  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.slider-item-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.slider-item-slogan {
  margin: 0 0 auto;

  font-size: 18px;
  line-height: 24px;
}

.promo-slider-item:first-child .slider-item-slogan {
  font-family: "PT Sans", "Arial", sans-serif;
}

.slider-item-button {
  min-width: 173px;
  padding-left: 12px;
}

.slider-toggles-round {
  position: absolute;
  bottom: 30px;
  left: 50%;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider-toggles-round button {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 10px;
  height: 10px;
  padding: 0;

  background-color: #ffffff;
  background-clip: content-box;
  border: 5px solid transparent;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 0 2px #ffffff;
          box-shadow: inset 0 0 0 2px #ffffff;
  cursor: pointer;
}

.slider-toggles-round .toggle-active {
  background-color: #ee3643;
  cursor: default;
}

.slider-toggles-round button:not(.toggle-active):hover,
.slider-toggles-round button:not(.toggle-active):focus {
  outline: none;
  opacity: 0.7;
}

.slider-toggles-arrow button {
  position: absolute;

  width: 40px;
  height: 40px;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.arrow-previous {
  top: 135px;
  left: 25px;

  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.arrow-next {
  top: 135px;
  right: 20px;

  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slider-toggles-arrow button::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;

  width: 26px;
  height: 26px;

  border-top: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.slider-toggles-arrow .arrow-previous::before {
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.slider-toggles-arrow button:hover::before,
.slider-toggles-arrow button:focus::before {
  opacity: 0.6;
}

.slider-toggles-arrow button:active {
  opacity: 0.3;
}

.promo-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.promo-column .promo-block {
  margin-bottom: 20px;
}

.promo-column .promo-block:last-child {
  margin-bottom: 0;
}

.promo-discount {
  background-color: #8ed78f;
  background-image: url("../img/icon-4.svg");
  background-position: 195px center;
}

.promo-delivery {
  background-color: #ffc047;
  background-image: url("../img/icon-5.svg");
  background-position: 190px 32px;
}

/* Популярные товары */

.popular-products {
  margin-bottom: 3px;
}

.popular-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px;
  padding: 25px 25px 30px 28px;

  background-color: #f9f5f0;
}

.section-title {
  margin: 0;

  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.popular-button {
  min-width: 233px;
}

.popular-products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

/* карточка товара */

.product-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 218px;
  margin: 0 20px 21px 0;
  padding-bottom: 20px;
  font-weight: 700;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  border: 1px solid #eaeaea;
}

.popular-products-list li:nth-child(4n) {
  margin-right: 0;
}

.product-item:hover {
  border-color: #ffffff;
  -webkit-box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.product-item-title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
  margin: 0;
  margin-bottom: 10px;
  padding: 0 30px;
}

.product-item-title a {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.product-item-title a:hover,
.product-item-title a:focus {
  color: #ee3643;

  outline: none;
}

.product-item-title a:active {
  color: rgba(0, 0, 0, 0.3);
}

.product-item-image {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
  width: 218px;
  height: 160px;
  margin: 0 0 20px;
}

.product-old-price {
  margin: 0 0 9px 0;

  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
  text-decoration: line-through;
}

.product-actual-price {
  position: relative;

  min-width: 95px;
  margin-top: auto;
  margin-right: 10px;
  padding: 11px 10px 9px 21px;

  font-size: 17px;
  line-height: 18px;
}

.product-actual-price:hover,
.product-actual-price:focus {
  outline: none;
}

.product-actual-price::after {
  content: "";
  position: absolute;
  top: 0;
  right: -18px;

  width: 0;
  height: 0;

  border-top: 19px solid transparent;
  border-bottom: 19px solid transparent;
  border-left: 19px solid #ee3643;
}

.product-actual-price:hover::after,
.product-actual-price:focus::after {
  border-left-color: #ca2c37;
}

.product-actual-price:active::after {
  border-left-color: #ba2732;
}

.product-item-action {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  padding-top: 43px;
  padding-bottom: 32px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum",  "Arial", sans-serif;
  background-color: #ffffff;
}

.product-item:hover .product-item-action {
  display: block;
}

.button-to-basket {
  position: relative;
  min-width: 75px;
  margin-bottom: 8px;
  padding-left: 50px;
  text-align: left;
  color: #ffffff;
  background-color: #63a63e;
  -webkit-box-shadow: inset 0 -3px 0 0 #367315;
  box-shadow: inset 0 -3px 0 0 #367315;
}

.button-to-basket:hover,
.button-to-basket:focus {
  background-color: #5fbb2d;
}

.button-to-basket:active {
  background-color: #518534;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button-to-basket::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 10px;

  width: 18px;
  height: 18px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
}

.button-to-basket:hover::before,
.button-to-basket:focus::before,
.button-to-basket:active::before {
  opacity: 1;
}

.button-to-bookmark {
  padding: 7px;

  color: #32425c;

  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.button-to-bookmark:hover,
.button-to-bookmark:focus {
  background-color: transparent;
  border-color: #32425c;
}

.button-to-bookmark:active {
  color: rgba(50, 66, 92, 0.3);

  background-color: transparent;
  border-color: rgba(50, 66, 92, 0.3);
}

/* Популярные производители */

.popular-manufacturers {
  margin-bottom: 65px;
}

.popular-manufacturers .popular-wrapper {
  padding-left: 25px;
}

.manufacturers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.manufacturer-item {
  margin: 0 20px 20px 0;
}

.manufacturer-item:nth-child(4n) {
  margin-right: 0;
}

.manufacturer-item-logo {
  display: block;
  width: 218px;
  height: 143px;

  border: 1px solid #eaeaea;
}

.manufacturer-item-logo:hover,
.manufacturer-item-logo:focus {
  border-color: #ffffff;
  outline: none;
  -webkit-box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.manufacturer-item-logo:active {
  border-color: #ffffff;
  -webkit-box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.manufacturer-item-logo:active img {
  opacity: 0.3;
}

/* Слайдер с услугами */

.services {
  margin-bottom: 82px;
  padding-top: 65px;

  background-color: #f4f7f9;
}

.services .section-title {
  margin-bottom: 26px;

  color: #000000;
}

.services  p {
  margin: 0;

  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.services .section-description {
  width: 400px;
  margin-bottom: 67px;
}

.services-slider-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.services-slider-toggle {
  position: relative;

  -ms-flex-item-align: start;
  align-self: flex-start;
  margin-bottom: 100px;
}

.services-slider-toggle::after {
  content: "";
  position: absolute;
  top: -45px;
  right: 0;
  bottom: -45px;

  width: 10px;

  background-image: url("../img/shadow.png");
  background-repeat: no-repeat;
  background-position: right 0 top 0;
  background-size: 100% 100%;
}

.services-toggle {
  display: block;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  min-width: 196px;
  padding: 15px 22px 16px;

  font: inherit;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  text-align: left;
  color: #ffffff;

  background-color: #32425c;
  border: none;
  -webkit-box-shadow: inset 0 1px 0 0 #405069,
  inset 0 -1px 0 0 #293449;
          box-shadow: inset 0 1px 0 0 #405069,
  inset 0 -1px 0 0 #293449;
  cursor: pointer;
}

.services-toggle:hover,
.services-toggle:focus {
  background-color: #293449;
  outline: none;
}

.services-toggle.toggle-active,
.services-toggle.toggle-active:hover,
.services-toggle.toggle-active:focus {
  color: #32425c;

  background-color: #ffffff;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: default;
}

.services-slider-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.service-slider-item {
  display: none;
  width: 620px;
  padding-left: 80px;

  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;
  background-position: right 0 top 28px;
}

.service-slider-item:nth-child(2) {
  background-image: url("../img/guarantee.png");
  background-position: right 0 top 5px;
}
.service-slider-item:nth-child(3) {
  background-image: url("../img/credit.png");
  background-position: right 0 top 3px;
}

.service-slider-item.slider-item-current {
  display: block;
}

.service-slider-item h3 {
  margin: 0 0 25px;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
}

.service-slider-item p {
  width: 280px;
  margin: 0 0 25px;
}

.service-slider-item:nth-child(2) p {
  width: 378px;
}

.button-credit {
  min-width: 175px;
}

.index-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 86px;
}

.about-us {
  width: 520px;
}

.about-us .section-title {
  margin-bottom: 26px;

  color: #000000;
}

.about-us p {
  margin: 0 0 24px;

  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.about-us p:last-of-type {
  width: 390px;
  margin-bottom: 20px;
}

.deliverey-list {
  margin: 0 0 37px;
  padding: 0;

  list-style: none;
  font-size: 18px;
  line-height: 20px;
}

.deliverey-list li {
  position: relative;

  margin: 0 0 20px;
  padding-left: 36px;
}

.deliverey-list li:last-child {
  margin-bottom: 0;
}

.deliverey-list li::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;

  width: 25px;
  height: 2px;

  background-color: #ee3643;
}

.button-about-us {
  min-width: 200px;
}

.contacts {
  width: 300px;
}

.contacts .section-title {
  margin-bottom: 26px;

  color: #000000;
}

.contacts p {
  width: 200px;
  margin: 0 0 31px;

  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.contacts-map {
  display: block;
  margin-bottom: 36px;
}

.contacts-feedback {
  min-width: 280px;
}

/* Каталог  */

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0 0 20px 0;
  padding: 0;

  list-style: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.breadcrumbs li {
  position: relative;

  padding-right: 40px;
}

.breadcrumbs li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 4px;
  right: 16px;

  width: 8px;
  height: 8px;

  border-right: 1px solid #c5c9d1;
  border-bottom: 1px solid #c5c9d1;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.breadcrumbs a {
  color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: #ee3643;
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-current a:hover,
.breadcrumbs-current a:active {
  color: #000000;
}

.breadcrumbs-link:hover path,
.breadcrumbs-link:focus  path {
  fill: #32425c;
}

.breadcrumbs-link:active path {
  fill: #c1c6c7;
}

.main-title {
  margin: 0 0 20px;
  padding: 30px 30px 30px 28px;
  background-color: #f2f6f8;
}

.inner-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* Фильтр товаров */

.filters {
  width: 220px;

  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.filters h2 {
  margin: 0 0 11px;
  padding: 10px 17px 10px 18px;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.filters-form fieldset {
  margin: 0 0 16px;
  padding: 0;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.filters-form fieldset:last-of-type {
  border: none;
}

.filters-form legend {
  margin-bottom: 13px;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
}

.range-controls {
  position: relative;
  margin-bottom: 9px;
  padding: 40px 20px 39px;
  background-color: #f7f3ec;
  border-radius: 0  0 5px 5px;
}

.range-controls .scale {
  position: relative;

  height: 2px;

  background-color: #d7dcde;
}

.range-controls .bar {
  position: absolute;
  top: 0;
  left: 0;

  width: 152px;
  height: 2px;

  background-color: #00ca74;
}

.range-toggle {
  position: absolute;
  top: 30px;
  left: 20px;

  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 4px;
  height: 4px;
  padding: 0;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 0 0 rgba(224, 221, 216, 0.3);
          box-shadow: 0 2px 0 0 rgba(224, 221, 216, 0.3);
  cursor: pointer;
}

.range-toggle-max {
  left: 160px;
}

.price-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 25px;
}

.price-controls input {
  width: 73px;
  padding: 9px 10px 11px 12px;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  background-color: #f7f3ec;
  border: none;
  border-radius: 3px;
}

.filter-manufacturer ul {
  margin: 0;
  padding: 0 0 2px;
  list-style: none;
  font-size: 15px;
  line-height: 20px;
}

.filter-manufacturer li {
  margin-bottom: 20px;
}

.filter-manufacturer label {
  position: relative;

  padding: 3px 0 3px 35px;

  cursor: pointer;
}

.filter-manufacturer label::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;

  opacity: 0.75;
}

.filter-input-checkbox:not(:checked) ~ label::before {
  width: 19px;
  height: 19px;

  border: 2px solid #b5b5b5;
  border-radius: 3px;
}

.filter-input-checkbox:checked ~ label::before {
  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.filter-manufacturer label:hover::before,
.filter-input-checkbox:focus ~ label::before {
  opacity: 1;
}

.filter-input-checkbox:disabled ~ label::before {
  opacity: 0.3;
}

.filter-power legend {
  letter-spacing: 0.01em;
  margin-bottom: 15px;
}

.filter-power ul {
  margin: 0 0 63px;
  padding: 0;
  list-style: none;
  font-size: 15px;
  line-height: 20px;
}

.filter-power li {
  margin-bottom: 20px;
}

.filter-power label {
  position: relative;

  padding: 3px 0 3px 35px;

  cursor: pointer;
}

.filter-power label::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 2px;
  width: 9px;
  height: 9px;
  background-color: #ffffff;
  border: 4px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 4px #b5b5b5;
  box-shadow: 0 0 0 4px #b5b5b5;
  opacity: 0.75;
}

.filter-input-radio:checked ~ label::before {
  background-color: #b5b5b5;
}

.filter-power label:hover::before,
.filter-input-radio:focus ~ label::before {
  opacity: 1;
}

.filter-input-radio:disabled ~ label::before {
  opacity: 0.3;
}

.filters-form-button {
  display: block;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  min-width: 120px;
  padding: 9px;

  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;

  background-color: transparent;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.filters-form-button:hover,
.filters-form-button:focus {
  border-color: #bdc6ca;
}

.filters-form-button:active {
  border-color: #ee3643;
}

/* Сортировка */

.products {
  width: 700px;
}

.products-sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 20px;
  padding: 10px 7px 10px 19px;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.products-sorting h2 {
  margin: 0 20px 0 0;

  font: inherit;
}

.sorting-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 36px 0 auto;
  padding: 0;
  list-style: none;
}

.sorting-type li {
  margin-right: 67px;
}

.sorting-type li:first-child {
  margin-right: 70px;
}

.sorting-type li:last-child {
  margin-right: 0;
}

.sorting-type a {
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted #ee3643;
}

.sorting-type a:hover,
.sorting-type a:focus {
  color: #000000;

  border-bottom: 1px solid #ee3643;
  outline: none;
}

.sorting-type a:active {
  color: #ee3643;

  border-bottom: 1px solid transparent;
}

.sorting-type .sorting-current,
.sorting-type .sorting-current:hover,
.sorting-type .sorting-current:active {
  color: #ee3643;

  border-bottom: 1px solid transparent;
}

.sorting-direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sorting-direction li {
  margin-right: 2px;
}

.sorting-direction li:last-child {
  margin-right: 0;
}

.sorting-direction a {
  position: relative;

  display: block;
  width: 30px;
  height: 18px;
}

.sorting-direction a:focus {
  outline: none;
}

.sorting-direction a::before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 9px;

  width: 0;
  height: 0;

  border-right: 6px solid transparent;
  border-bottom: 10px solid #c5c5c5;
  border-left: 6px solid transparent;
}

.sorting-direction .sorting-direction-down::before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.sorting-direction a:hover::before,
.sorting-direction a:focus::before {
  border-bottom-color: #000000;
}

.sorting-direction a:active::before {
  border-bottom-color: #ee3643;
}

.sorting-direction .sorting-current::before,
.sorting-direction .sorting-current:hover::before,
.sorting-direction .sorting-current:active::before {
  border-bottom-color: #ee3643;
}

/* Карточки товара */

.products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0 0 31px;
  padding: 0;
  list-style: none;
}

.products-list li:nth-child(3n) {
  margin-right: 0;
}

/* Пагинация */

.products-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0 0 60px;
  padding: 0;

  list-style: none;
}

.products-pagination li {
  margin-right: 10px;
}

.products-pagination li:last-child {
  margin-right: 0;
}

.products-pagination a {
  display: block;
  padding: 9px 14px 9px 15px;

  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;

  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.products-pagination-next a {
  padding-right: 30px;
  padding-left: 31px;
}

.products-pagination a:hover,
.products-pagination a:focus {
  border-color: #bdc6ca;
  outline: none;
}

.products-pagination a:active {
  border-color: #ee3643;
}

.products-pagination-current a,
.products-pagination-current a:hover,
.products-pagination-current a:active {
  color: #ffffff;

  background-color: #ee3643;
  border-color: #ee3643;
}

.information {
  padding: 65px 0 68px;
  background-color: #f2f6f8;
}

.information-title {
  margin-bottom: 27px;
  color: #000000;
}

.information p {
  margin: 0;

  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
}

/* Футер */

.main-footer {
  color: #f3f7f9;

  background-color: #32425c;
}

.main-footer > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-bottom: 50px;

  font-size: 18px;
  line-height: 24px;
}

.footer-logo {
  padding: 18px 10px 15px;

  font-size: 30px;
  line-height: 30px;
}

.footer-site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  max-width: 710px;
  margin: 38px 0 0 10px;
  padding: 0;

  list-style: none;
}

.footer-site-navigation li {
  margin-right: 49px;
}

.footer-site-navigation li:last-child {
  margin-right: 0;
}

.footer-site-navigation a {
  display: block;
  padding-left: 10px;

  color: #f1f5f7;
}

.footer-site-navigation a:hover,
.footer-site-navigation a:focus {
  text-decoration: underline;

  outline: none;
}

.footer-site-navigation a:active {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}


.footer-catalog-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  max-width: 580px;
  margin: 32px 0 0 10px;
  padding: 0;

  list-style: none;
}

.footer-catalog-navigation li {
  margin-right: 49px;
}

.footer-catalog-navigation li:last-child {
  margin-right: 0;
}

.footer-catalog-navigation a {
  display: block;
  padding-left: 10px;

  color: #ffd180;
}

.footer-catalog-navigation a:hover,
.footer-catalog-navigation a:focus {
  text-decoration: underline;

  outline: none;
}

.footer-catalog-navigation a:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}

.footer-contacts {
  width: 350px;
  margin: 32px 0 0 3px;
}

.container-footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: 34px;
  padding-bottom: 30px;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.footer-copyright {
  width: 240px;
  margin: 3px 0 0 0;
}

.footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 0 0 52px;

  list-style: none;
}

.footer-socials li {
  padding: 0 1px;
}

.footer-socials a {
  display: block;
  width: 42px;
  height: 42px;

  background-color: #212a3a;
  background-image: url("../img/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.footer-socials .socials-fb {
  background-image: url("../img/icon-fb.svg");
}

.footer-socials .socials-insta {
  background-image: url("../img/icon-insta.svg");
}

.footer-socials a:hover,
.footer-socials a:focus {
  background-color: #ee3643;
  outline: none;
}

.footer-socials a:active {
  background-color: #ee3643;
}

.footer-mailto {
  margin: 3px 20px 0;
}

.footer-mailto a {
  display: block;

  color: #ffd180;
}

.footer-mailto a:hover,
.footer-mailto a:focus {
  text-decoration: underline;

  outline: none;
}

.footer-mailto a:active {
  color: #ee3643;
  text-decoration: none;
}

.footer-developer {
  margin: 0;
  padding: 3px 15px 0 30px;
}

.footer-developer a {
  display: block;

  color: #ffd180;
}

.footer-developer a:hover,
.footer-developer a:focus {
  text-decoration: underline;

  outline: none;
}

.footer-developer a:active {
  color: #ee3643;
  text-decoration: none;
}

/* Модальное окно обратной связи  */

@-webkit-keyframes modal-emerging {
  0% {
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  60% {
    -webkit-box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.75);
            box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.75);
  }
}

@keyframes modal-emerging {
  0% {
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  60% {
    -webkit-box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.75);
            box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.75);
  }
}

@-webkit-keyframes modal-disappearing {
  0% {
    opacity: 1;
  }

  70% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modal-disappearing {
  0% {
    opacity: 1;
  }

  70% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.modal {
  position: fixed;
  top: 150px;
  left: 50%;

  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.modal-feedback {
  z-index: 1;

  display: none;
  width: 620px;

  color: #000000;

  background-color: #ffffff;
  border-top: 7px solid #ff5358;
  -webkit-box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
          box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.feedback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 47px;
}

.feedback-form-field {
  width: 220px;
  margin: 0 0 20px;

  font-size: 18px;
  line-height: 18px;
}

.feedback-form-field:first-of-type {
  margin-right: 20px;
}

.feedback-form-field:last-of-type {
  width: 460px;
  margin: 0 0 32px;
}

.feedback-form-field label {
  display: block;
  margin-bottom: 10px;
}

.feedback-form-field input,
.feedback-form-field textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 38px;
  padding: 7px 14px 9px 14px;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;

  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.feedback-form-field textarea {
  height: 114px;
}

.feedback-form input::-webkit-input-placeholder,
.feedback-form textarea::-webkit-input-placeholder {
  color: #999999;
}

.feedback-form input::-moz-placeholder,
.feedback-form textarea::-moz-placeholder {
  color: #999999;
}

.feedback-form input:-ms-input-placeholder,
.feedback-form textarea:-ms-input-placeholder {
  color: #999999;
}

.feedback-form-field input:hover,
.feedback-form-field textarea:hover {
  border-color: #b5b5b5;
  outline: none;
}

.feedback-form-field input:focus,
.feedback-form-field textarea:focus {
  border-color: #ee3643;
}

.button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 37px 80px 37px;
  background-color: #f4f4f4;
}

.feedback-form button[type="submit"] {
  width: 100%;
}

.modal-close {
  position: absolute;
  top: 3px;
  right: 3px;

  width: 34px;
  height: 34px;

  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 3px;
  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
  border-color: rgba(238, 64, 57, 0.6);
  outline: none;
}

.modal-close:active {
  border-color: rgba(0, 0, 0, 0.1);
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 13px;

  width: 5px;
  height: 27px;

  background-color: #ee3643;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-close:active::before,
.modal-close:active::after {
  background-color: #fcd7d9;
}

/* Модалка-карта */

.modal-map {
  z-index: 1;

  display: none;
  width: 940px;
  height: 446px;

  font-size: 0;
  line-height: 0;

  -webkit-box-shadow: 0 0 16px 1px rgba(47, 42, 43, 0.5);
          box-shadow: 0 0 16px 1px rgba(47, 42, 43, 0.5);
}

.modal-map iframe {
  position: absolute;
  top: 0;
  left: 0;

  border: none;
}

.modal-map .modal-close {
  top: 2px;
}

/* Модалка - подтверждение добавления в корзину  */

.modal-adding {
  z-index: 1;

  display: none;
  width: 620px;
  padding-top: 48px;

  color: #000000;

  background-color: #ffffff;
  border-top: 7px solid #ff5358;
  -webkit-box-shadow: 0 20px 40px 0 rgba(41,  52,  73, 0.75);
          box-shadow: 0 20px 40px 0 rgba(41,  52,  73, 0.75);
}

.modal-adding h2 {
  position: relative;

  margin: 0 0 49px;
  padding: 18px 120px 18px 180px;

  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
}

.modal-adding h2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 80px;

  width: 66px;
  height: 66px;

  background-color: #63a63e;
  border-radius: 50%;
}

.modal-adding h2::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 98px;

  width: 28px;
  height: 14px;

  border-bottom: 7px solid #ffffff;
  border-left: 7px solid #ffffff;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-adding .button {
  min-width: 200px;
}

.button-continue {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 8px;

  color: #000000;

  background-color: #ffffff;
  border: 2px solid #ffffff;
}

.button-continue:hover,
.button-continue:focus {
  background-color: #ffffff;
  border-color: rgba(238, 64, 57, 0.6);
  outline: none;
}

.button-continue:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #ffffff;
  border-color: rgba(0, 0, 0, 0.1);
}

.modal-show {
  display: block;

  -webkit-animation: modal-emerging 1s;
          animation: modal-emerging 1s;
}

.modal-error form {
  -webkit-animation: modal-disappearing 1s;
          animation: modal-disappearing 1s;
}
